{% extends ('@AplabAdmin/index.html.twig') %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/static/cms/vendor.css') }}">
    <link rel="stylesheet" href="{{ asset('/static/cms/build.css') }}">
    {{ render(controller(
        'Aplab\\AplabAdminBundle\\Controller\\UtilController::cssWidthDefinition'
    )) }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('static/cms/build.js') }}"></script>
    {{ render(controller(
        'Aplab\\AplabAdminBundle\\Controller\\MainMenuController::mainMenu'
    )) }}
{% endblock %}
{% block body_classes %}{{ UiDataTransmitter.getBodyClasses() }}{% endblock %}
{% block body %}
    <div id="capsule-cms-sidebar">
        {% block sidebar %}
            <div id="capsule-cms-sidebar-buttons">
                <button id="capsule-cms-sidebar-button-close">
                    <i class="fas fa-times"></i>
                </button>
                <button id="capsule-cms-sidebar-button-toggle-pin">
                    <i class="fas fa-thumbtack"></i>
                </button>
            </div>
        {% endblock %}
        <div id="apl-admin-main-menu-wrapper"></div>
    </div>
    <div id="capsule-cms-content">
        {% block content %}
            <button class="btn btn-light m-1"
                    id="capsule-cms-open-sidebar">
                <i class="fas fa-bars"></i>
            </button>
            {#{{ dump(count) }}#}
            {#{{ dump(items) }}#}
            {#{{ dump(items2) }}#}
            {#{{ dump(md) }}#}
            {#{{ dump(meta) }}#}
            {{ dump(cell) }}


        {% endblock %}
    </div>
{% endblock %}