{% block datetime %}
    <div class="{{ prefix }}-element">
        <label class="{{ prefix }}-label" for="{{ prefix }}-element-{{ field.type.uniqueId }}">
            {{ field.propertyTitle }}
        </label>
        <div class="{{ prefix }}-value {{ prefix }}-value-label"
             id="{{ prefix }}-element-{{ field.type.uniqueId }}">
            {{ field.type.value }}
        </div>
    </div>
{% endblock %}
{% block label %}
    <div class="{{ prefix }}-element">
        <label class="{{ prefix }}-label" for="{{ prefix }}-element-{{ field.type.uniqueId }}">{{ field.propertyTitle }}</label>
        <div class="{{ prefix }}-value {{ prefix }}-value-label"
             id="{{ prefix }}-element-{{ field.type.uniqueId }}">
            {{ field.type.value }}
        </div>
    </div>
{% endblock %}
{% block text %}
    <div class="{{ prefix }}-element">
        <label class="{{ prefix }}-label" for="{{ prefix }}-element-{{ field.type.uniqueId }}">{{ field.propertyTitle }}</label>
        <div class="{{ prefix }}-value">
            <input type="text" class="form-control" placeholder=""
                   autocorrect="off" autocapitalize="none" autocomplete="off"
                   name="{{ form_name }}[{{ field.propertyName }}]"
                   id="{{ prefix }}-element-{{ field.type.uniqueId }}"
                   value="{{ field.type.value }}">
        </div>
    </div>
{% endblock %}
{% block example %}
{% endblock %}
