{% extends ('@AplabAdmin/admin.html.twig') %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            new AplInstanceEditor($('#apl-instance-editor'));
        });
    </script>
{% endblock %}
{% block workarea %}
    {% set prefix = 'apl-instance-editor' %}
    <div class="{{ prefix }}" id="{{ prefix }}">
        <div class="{{ prefix }}-head">
            <div class="{{ prefix }}-tabs-wrapper">
                <div class="{{ prefix }}-tabs">
                    {% for tab in instance_editor.tab %}
                    <div class="{{ prefix }}-tab">
                        {{ tab.name }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="{{ prefix }}-arrow-left fas fa-caret-left"></div>
            <div class="{{ prefix }}-arrow-right fas fa-caret-right"></div>
        </div>
        <div class="{{ prefix }}-body">
            <form method="post" id="<?=$this->instance->instanceName?>-form">
                {% for tab in instance_editor.tab %}
                <div class="{{ prefix }}-panel">
                    {#<?php if ($group->ckeditor) : ?>#}
                    {#<?php foreach ($group as $element) : ?>#}
                    {#<?=$element?>#}
                    {#<?php endforeach ?>#}
                    {#<?php else : ?>#}
                    <div class="{{ prefix }}-elements-wrapper">
                        <div class="{{ prefix }}-elements">
                            {% for field in tab.field %}
                                {{ block(field.type.type, "@AplabAdmin/instance-editor/field-type.html.twig") }}
                            {% endfor %}
                            {#<?php foreach ($group as $element) : ?>#}
                            {#<?=$element?>#}
                            {#<?php endforeach ?>#}
                        </div>
                    </div>
                    <?php endif ?>
                </div>
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}